@use './variables' as v;
@import './adaptive';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#admin{
    *{
        font-family: 'Inter', sans-serif;
    }
    padding: 0 80px;
    padding-top: 80px;
    box-sizing: border-box;
    
    background: v.$grey;
    min-height: 100vh;
    .content{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .filter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown{
        
        position: relative;
        .dropbtn{
            font-weight: 400;
        font-size: 16px;
        line-height: 20px;
            padding: 0;
            margin: 0;
            border: 0;
            background: none;
            cursor: pointer;
            display: flex;
            gap: 8px;
            &::after{
                transition: transform .2s linear;
                height: 20px;
                // content: url('../../utilities/icons/arrowdown-dark.svg');
            }
        }
        .dropcontent{
            box-sizing: border-box;
            list-style: none;
            position: absolute;
            cursor: pointer;
            color: v.$black;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 16px;
            // width: 196px;
            // height: 192px;
            right: 0;
            top: 100%;
            z-index: 100;
            width: 100%;
            /* Color / white */
            
            background: v.$white;
            border-radius: 8px;
            li{
                cursor: pointer;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                padding: 16px 0;
                border-bottom: 1px solid v.$grey;
                &:hover{
                    font-weight: 600;
                }
            }
        }
        .dropbtn:focus + .dropcontent{
            display: block;
        }
        .dropbtn:focus::after{
            transform: rotateX(180deg);
        }
    }
    table{
        // width: 100%;
        border-collapse: collapse;
        padding: 16px;
        border: 1px solid v.$grey;
        border-radius: 12px;
        background: v.$white;
        overflow: hidden;
        tr{
            // padding: 10px 0;
            background: v.$white;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            th{
                padding: 16px 6px 20px;
                text-align: left;
                color: #5E646F;
                font-weight: 400;
            }
            td{
                color: #0E0E0E;
                padding: 10px 6px;
                &.number{
                    color: #5E646F;
                }
                .os-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 100%;
                    gap: 4px;
                    .os{
                        background: v.$purple;
                        color: v.$white;
                        padding: 4px 8px;
                        border-radius: 4px;
                    }
                }
                a{
                    text-decoration: underline;
                    &:hover{
                        color: v.$purple;
                    }
                }
            }
        }
        thead{
            tr{
                border-bottom: 1px solid #F2F4F5;
            }
        }
    }
}