@use 'variables' as v;
@import 'adaptive';

#application{
    padding: 96px 0;
    background: #F5F5F5;
    color: v.$black;    
    .text{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .text{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    #progress-bar{
        box-sizing: border-box;
        width: 100%;
        height: 6px;
        background: v.$grey;
        border-radius: 4px;
        overflow: hidden;
        .progress{
            box-sizing: border-box;
            border-radius: 4px;
            background: v.$purple;
            height: 100%;
            width: 100%;
            &.progress-1{
                width: 33%;
            }
            &.progress-2{
                width: 66%;
            }
        }
    }
    form{
        padding-top: 48px;
        .form-group{
            display: none;
            &.active{
                display: block;
            }

            .btns{
                margin-top: 48px;
                display: block;
                .btn{
                    box-sizing: border-box;
                    width: 100%;
                    padding: 12px 32px;
                    background: v.$purple;
                    color: v.$white;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 7px;
                    &:disabled{
                        background: v.$white;
                        color: v.$black;
                        font-weight: 400;
                    }
                }
            }

            .radio-row{
                display: flex;
                flex-direction: column;
                gap: 32px;
                .col{
                    cursor: pointer;
                    width: 100%;
                    input{
                        display: none;
                        // opacity: 0;
                    }
                    .radio{
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 31px;
                        border-radius: 8px;
                        background: v.$white;
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                        border: v.$white solid 1px;
                        .checkmark{
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            .radio-button{
                                width: 24px;
                                height: 24px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .circle{
                                    box-sizing: border-box;
                                    width: 20px;
                                    height: 20px;
                                    border: 2px solid v.$purple;
                                    border-radius: 50%;
                                    position: relative;
                                }
                            }
                        }
                        .text{
                            gap: 4px;
                        }
                    }
                    input:checked ~ .radio{
                        background: rgba($color: v.$purple, $alpha: .1);
                        border: v.$purple solid 1px;
                        .circle::after{
                            position: absolute;
                            content: '';
                            display: block;
                            width: 12px;
                            height: 12px;
                            background: v.$purple;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .os-row{
                display: flex;
                flex-direction: column;
                gap: 32px;
                .col{
                    cursor: pointer;
                    box-sizing: border-box;
                    width: 100%;
                    input{
                        display: none;
                        // opacity: 0;
                    }
                    .os{
                        // width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 31px;
                        border-radius: 8px;
                        background: v.$white;
                        border: v.$white solid 1px;
                        .os-body{
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            text-align: center;
                            justify-content: center;
                            align-self: center;
                            .os-image{
                                display: flex;
                                justify-content: center;
                                .img{
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }
                    }
                    input:checked ~ .os{
                        background: rgba($color: v.$purple, $alpha: .1);
                        border: v.$purple solid 1px;
                    }
                }
            }
            .input-row{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 40px;
                .col{
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    label{
                        font-style: normal;

                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #A3A3A3;
                        transition: all .2s linear;
                        &.placeholder{
                            cursor: text;
                            transform: translate(11px,45px);
                        }
                        &:focus{
                            transform: none;
                        }
                    }
                    input{  
                        box-sizing: border-box;
                        border: 1px solid v.$grey;
                        border-radius: 6px;
                        width: 100%;
                        background: v.$white;
                        font-style: normal;
                        padding: 8px 12px;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: v.$black;
                        .error{
                            border-color: #DC2626;
                        }
                        &:focus{
                            background: rgba($color: v.$purple, $alpha: .1);
                            border-color: v.$purple;
                            outline: none;
                        }
                        &:focus + label{
                            transform: none;
                        }
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #A3A3A3;
                        }                          
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #A3A3A3;
                        }  
                        &::-ms-input-placeholder { /* Microsoft Edge */
                            color: #A3A3A3;
                        }
                    }
                }
            }
            .final-step{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                .image{
                    height: 200px;
                    &.success{
                        i{
                            content: url('../utilities/icons/success-form.svg');
                        }
                    }
                    &.fail{
                        i{
                            content: url('../utilities/icons/fail-form.svg');
                        }
                    }
                }
                .text-center{
                    text-align: center;
                }
            }
        }
    }
    @include _lg{
        padding: 128px 0;
        #progress-bar{
            max-width: 360px;
        }
        form{
            padding-top: 56px;
            .form-group{
    
                .btns{
                    margin-top: 56px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .btn{
                        width: initial;
                    }
                }
    
                .radio-row{
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    .col{
                        width: calc(50% - 20px);
                    }
                }
                .os-row{
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    .col{
                        width: calc((100% - 120px)/4);
                    }
                }
                .input-row{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .col{
                        width: calc(50% - 20px);
                    }
                }
                .final-step{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    .image{
                        height: 200px;
                        &.success{
                            i{
                                content: url('../utilities/icons/success-form.svg');
                            }
                        }
                        &.fail{
                            i{
                                content: url('../utilities/icons/fail-form.svg');
                            }
                        }
                    }
                    .text-center{
                        text-align: center;
                    }
                }
            }
        }
    }   
}