@use 'variables' as v;
@import 'adaptive';

#footer{
    box-sizing: border-box;
    background: v.$black;
    border-top: #282828 solid 2px;
    color: v.$white;
    padding: 96px 0;
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .footer-logo{
            i{
                content: url('../utilities/icons/logotype-header.svg');
            }
        }
        .row{
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            gap: 48px;
            .col{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;

                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                &>a{
                    color: inherit;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    &:hover{
                        text-decoration:underline;
                    }
                }
                .icons{
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    .icon{
                        width: 24px;
                        height: 24px;
                        i{
                            width: 24px;
                            height: 24px;
                        }
                        &.whatsapp i{
                            content: url('../utilities/icons/whatsapp.svg');
                        }
                        &.telegram i{
                            content: url('../utilities/icons/telegram.svg');
                        }
                    }
                }
            }
        }
    }
    @include _lg{
        padding: 128px 0;
        .footer-content{
            .row{
                flex-direction: row;
                align-items: flex-end;
                gap: 56px;
                .col{
                    width: calc(50% - 28px);
                }
            }
        }
    }
}