@use 'variables' as v;
@import 'adaptive';

#services{
    padding: 96px 0;
    background: v.$bg_white;
    .text-box{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 56px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        .col{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            .card{
                box-sizing: border-box;
                height: 408px;
                width: 100%;
                padding: 32px;
                border-radius: 24px;
                background: v.$white;
                .card-body{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    align-items: center;
                    justify-content: center;
                    .card-img{
                        max-width: 100%;
                        max-height: 168px;
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0px;
                        gap: 16px;
                    }
                }

            }
        }
    }
    @include _lg {
        padding: 128px 0;
        .text-box{
            gap: 24px;
        }
        .cards{
            display: flex;
            flex-direction: row;
            gap: 40px;
            .col{
                box-sizing: border-box;
                width: calc((100% - 80px) / 2);
                flex: 1;
                .card{
                    height: 408px;
                    width: 100%;
                }
            }
        }
    }
}