@use 'variables' as v;
@import 'adaptive';

$animation_duration: .5s;
$transition_timing_function: ease;

#topBlock{
    background: #F9F9F9;
    padding: 160px 0 0;
    color: v.$black;
    .content{
        display: flex;
        flex-direction: column;
        gap: 48px;
        .row{
            display: flex;
            flex-direction: column;
            gap: 48px;
            .col{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        #svgs{
            display: flex;
            justify-content: center;
            #svgSmall{
                width: 100%;
                aspect-ratio: 328 / 208;
            }
            #svg1, #svg2{
                display: none;
            }
        }
        @include _md{
            #svgs{
                justify-content: space-between;
                gap: 24px;
                #svgSmall{
                    display: none;
                }
                #svg1, #svg2{
                    display: initial;
                }
            }
        }
        @include _lg{
            gap: 64px;

            .row{
                flex-direction: row;
                gap: 64px;
                align-items: flex-end;
                .col{
                    width: calc(50% - 32px);
                }
            }
            #svgs{
                display: flex;
                justify-content: space-between;
                gap: 64px;
                #svg1, #svg2{
                    display: initial;
                }
            }
        }
    }
}