@use 'variables' as v;
@import 'adaptive';

$animation_duration: .5s;
$transition_timing_function: ease;

#topBlock{
    background: #F9F9F9;
    padding: 160px 0;
    color: v.$black;
    .row{
        display: flex;
        flex-direction: column;
        gap: 48px;
        .col{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    #mainImage{
        // content: url('../utilities/mainImage.png');
        content: url('../utilities/topBlock.svg');
    }
    #bg{
        display: none;
    }
    .container{
        position: relative;
        z-index: 10;
    }
    #svg1{
        display: none;
    }
    #svg2{
        display: none;
    }
    #svgSmall{
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 14px;
    }
    @include _lg{
        position: relative;
        .row{
            flex-direction: row;
            gap: 32px;
            align-items: center;
            .col{
                width: calc(50% - 16px);
            }
        }
        #svgSmall{
            display: none;
        }


        .regular-16-24{
            // display: none;
            opacity: 0;
            transition: all $animation_duration $transition_timing_function;
        }
        #bg{
            display: block;
            background: v.$white;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 422px;
            width: 45%;
            max-height: 80%;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            transition: width $animation_duration $transition_timing_function;
        }
        #svgs{
            position: relative;
            display: flex;
            gap: 14px;
            #svg1{
                display: initial;
                position: relative;
                transition: all $animation_duration $transition_timing_function;
                *{
                    transition: all $animation_duration $transition_timing_function;
                }
            }
            #svg2{
                display: initial;
                top: 0;
                position: absolute;
                right: -1000px;
                transition: right $animation_duration $transition_timing_function;
            }
        }
         
        &:hover{
            .regular-16-24{
                height: auto;
                opacity: 1;
                // transition: all 1s $transition_timing_function;
            }   
            #bg{
                width: 35%;
            }
            #svgs{
                #svg1{
                    // d: width("360");
                    // width: 360px;
                    #svg1r1{
                        width: 358.5px;
                    }
                    #svg1p1{
                        d: path("M269.117 116.76H105.1C101.147 116.756 97.3569 115.183 94.5616 112.388C91.7663 109.593 90.1939 105.803 90.1895 101.85V40.9106C90.1939 36.9574 91.7663 33.1675 94.5616 30.3722C97.3569 27.5769 101.147 26.0045 105.1 26H269.117C273.07 26.0045 276.86 27.5769 279.655 30.3722C282.45 33.1675 284.023 36.9574 284.027 40.9106V101.85C284.023 105.803 282.45 109.593 279.655 112.388C276.86 115.183 273.07 116.756 269.117 116.76Z");
                    }
                    #svg1p2{
                        d: path("M269.117 116.76H105.1C101.147 116.756 97.3569 115.183 94.5616 112.388C91.7663 109.593 90.1939 105.803 90.1895 101.85V40.9106C90.1939 36.9574 91.7663 33.1675 94.5616 30.3722C97.3569 27.5769 101.147 26.0045 105.1 26H269.117C273.07 26.0045 276.86 27.5769 279.655 30.3722C282.45 33.1675 284.023 36.9574 284.027 40.9106V101.85C284.023 105.803 282.45 109.593 279.655 112.388C276.86 115.183 273.07 116.756 269.117 116.76ZM105.1 27.2966C101.491 27.3006 98.0302 28.7363 95.478 31.2885C92.9257 33.8407 91.4901 37.3012 91.486 40.9106V101.85C91.4901 105.459 92.9258 108.919 95.478 111.472C98.0302 114.024 101.491 115.459 105.1 115.464H269.117C272.726 115.459 276.186 114.024 278.739 111.472C281.291 108.919 282.726 105.459 282.731 101.85V40.9106C282.727 37.3012 281.291 33.8407 278.739 31.2885C276.186 28.7363 272.726 27.3006 269.117 27.2966H105.1Z");
                    }
                    #svg1p3{
                        d: path("M195.101 61.9724H169.169C168.482 61.9724 167.822 61.6992 167.336 61.2129C166.849 60.7266 166.576 60.067 166.576 59.3793C166.576 58.6915 166.849 58.032 167.336 57.5456C167.822 57.0593 168.482 56.7861 169.169 56.7861H195.101C195.789 56.7861 196.448 57.0593 196.934 57.5456C197.421 58.032 197.694 58.6915 197.694 59.3793C197.694 60.067 197.421 60.7266 196.934 61.2129C196.448 61.6992 195.789 61.9724 195.101 61.9724Z");
                    }
                    #svg1p4{
                        d: path("M250.855 76.2346H168.523C167.835 76.2346 167.176 75.9614 166.689 75.4751C166.203 74.9888 165.93 74.3292 165.93 73.6415C165.93 72.9537 166.203 72.2942 166.689 71.8079C167.176 71.3215 167.835 71.0483 168.523 71.0483H250.855C251.543 71.0483 252.203 71.3215 252.689 71.8079C253.175 72.2942 253.448 72.9537 253.448 73.6415C253.448 74.3292 253.175 74.9888 252.689 75.4751C252.203 75.9614 251.543 76.2346 250.855 76.2346Z");
                    }
                    #svg1p5{
                        d: path("M138.377 83.8965C147.979 83.8965 155.763 76.1123 155.763 66.5101C155.763 56.9079 147.979 49.1238 138.377 49.1238C128.774 49.1238 120.99 56.9079 120.99 66.5101C120.99 76.1123 128.774 83.8965 138.377 83.8965Z");
                    }
                    #svg1p6{
                        d: path("M330.462 125.053H243.222C242.671 125.047 242.123 124.977 241.589 124.846C239.993 124.463 238.573 123.552 237.558 122.261C236.544 120.971 235.995 119.376 236 117.734V88.0814C236.003 86.1417 236.775 84.2825 238.148 82.9116C239.52 81.5407 241.38 80.7701 243.319 80.7688H330.462C331.637 80.7657 332.794 81.0491 333.835 81.5944C334.249 81.8092 334.641 82.0649 335.004 82.3576C335.872 83.0372 336.574 83.9061 337.055 84.8981C337.536 85.89 337.785 86.9788 337.781 88.0814V117.734C337.779 119.675 337.007 121.535 335.635 122.907C334.263 124.279 332.402 125.051 330.462 125.053Z");
                    }
                    #svg1p7{
                        d: path("M324.615 124.406C328.576 114.778 332.749 105.246 337.134 95.8096V111.809C334.144 116.358 330.685 120.58 326.813 124.406H324.615Z");
                    }
                    #svg1p8{
                        d: path("M334.599 82.8631C326.762 96.9244 318.561 110.772 309.997 124.405H308.506C317.212 110.558 325.556 96.4793 333.536 82.1694C333.913 82.3647 334.269 82.5971 334.599 82.8631Z");
                    }
                    #svg1p9{
                        d: path("M277.082 98.2142C271.96 107.27 266.308 116.015 260.156 124.405H251.268C257.089 117.313 262.915 110.22 268.745 103.128C270.418 101.086 272.233 98.9468 274.742 98.1169L277.082 98.2142Z");
                    }
                    #svg1p10{
                        d: path("M265.27 96.7622C264.343 97.7281 263.454 98.733 262.618 99.7767C260.777 101.994 258.962 104.23 257.14 106.461C256.006 107.848 254.871 109.235 253.75 110.623C253.393 110.394 253.055 110.138 252.738 109.858C250.947 108.303 249.836 106.108 249.643 103.744C249.451 101.38 250.191 99.0344 251.707 97.21C253.223 95.3856 255.393 94.2275 257.753 93.9838C260.112 93.7401 262.473 94.4303 264.33 95.9064C264.664 96.1674 264.979 96.4535 265.27 96.7622Z");
                    }
                    #svg1p11{
                        d: path("M315.402 103.063L298.366 96.8333L289.905 93.741C287.15 92.7361 284.401 91.5887 281.555 90.8626C279.08 90.1552 276.452 90.1891 273.996 90.9598C271.806 91.7703 269.802 93.0139 268.103 94.6162C267.351 95.3098 266.623 96.0251 265.919 96.762C264.992 97.7279 264.104 98.7328 263.267 99.7765C261.426 101.994 259.611 104.23 257.789 106.46C256.655 107.848 255.52 109.235 254.399 110.622C250.652 115.206 246.926 119.8 243.222 124.405C242.724 124.399 242.228 124.336 241.744 124.217C245.608 119.42 249.489 114.633 253.387 109.857C253.835 109.3 254.295 108.736 254.749 108.178C256.648 105.851 258.55 103.526 260.454 101.203C261.925 99.407 263.384 97.5983 264.979 95.9063C265.121 95.7507 265.264 95.6016 265.413 95.446C268.648 92.1008 272.687 89.1446 277.523 89.0668C280.369 89.0214 283.118 89.9226 285.763 90.8755C288.609 91.9063 291.448 92.9566 294.294 94.0003L311.448 100.276L315.74 101.845C316.498 102.117 316.174 103.349 315.402 103.063Z");
                    }
                    #svg1p12{
                        d: path("M330.462 125.053H243.222C242.671 125.047 242.123 124.977 241.589 124.846C239.993 124.463 238.573 123.552 237.558 122.261C236.544 120.971 235.995 119.376 236 117.734V88.0814C236.003 86.1417 236.775 84.2825 238.148 82.9116C239.52 81.5407 241.38 80.7701 243.319 80.7688H330.462C331.637 80.7657 332.794 81.0491 333.835 81.5944C334.249 81.8092 334.641 82.0649 335.004 82.3576C335.872 83.0372 336.574 83.9061 337.055 84.8981C337.536 85.89 337.785 86.9788 337.781 88.0814V117.734C337.779 119.675 337.007 121.535 335.635 122.907C334.263 124.279 332.402 125.051 330.462 125.053ZM243.319 82.0654C241.723 82.0663 240.193 82.7003 239.064 83.8281C237.935 84.9559 237.299 86.4855 237.297 88.0814V117.734C237.293 119.085 237.745 120.398 238.579 121.46C239.414 122.522 240.583 123.272 241.896 123.587C242.333 123.694 242.78 123.751 243.23 123.757H330.462C332.059 123.755 333.589 123.12 334.718 121.991C335.847 120.862 336.483 119.331 336.484 117.734V88.0814C336.487 87.1741 336.283 86.2782 335.886 85.4621C335.49 84.646 334.912 83.9312 334.197 83.3724C333.899 83.1318 333.577 82.9216 333.237 82.745C332.381 82.2962 331.428 82.0629 330.462 82.0654H243.319Z");
                    }
                    #svg1p13{
                        d: path("M157.678 153.863H31.9106C27.9574 153.858 24.1674 152.286 21.3721 149.491C18.5768 146.696 17.0044 142.906 17 138.952V116.911C17.0045 112.957 18.5769 109.167 21.3722 106.372C24.1675 103.577 27.9574 102.004 31.9106 102H157.678C161.631 102.004 165.421 103.577 168.217 106.372C171.012 109.167 172.584 112.957 172.589 116.911V138.952C172.584 142.906 171.012 146.696 168.217 149.491C165.421 152.286 161.631 153.858 157.678 153.863Z");
                    }
                    #svg1p14{
                        d: path("M157.678 153.863H31.9106C27.9574 153.858 24.1674 152.286 21.3721 149.491C18.5768 146.696 17.0044 142.906 17 138.952V116.911C17.0045 112.957 18.5769 109.167 21.3722 106.372C24.1675 103.577 27.9574 102.004 31.9106 102H157.678C161.631 102.004 165.421 103.577 168.217 106.372C171.012 109.167 172.584 112.957 172.589 116.911V138.952C172.584 142.906 171.012 146.696 168.217 149.491C165.421 152.286 161.631 153.858 157.678 153.863ZM31.9106 103.297C28.3012 103.301 24.8407 104.736 22.2885 107.288C19.7363 109.841 18.3006 113.301 18.2966 116.911V138.952C18.3007 142.562 19.7363 146.022 22.2886 148.574C24.8408 151.127 28.3012 152.562 31.9106 152.566H157.678C161.288 152.562 164.748 151.127 167.3 148.574C169.852 146.022 171.288 142.562 171.292 138.952V116.911C171.288 113.301 169.853 109.841 167.3 107.288C164.748 104.736 161.288 103.301 157.678 103.297H31.9106Z");
                    }
                    #svg1p15{
                        d: path("M68.8364 141.465H48.6174C47.5367 141.464 46.5005 141.034 45.7363 140.27C44.9721 139.506 44.5422 138.47 44.541 137.389V118.474C44.5422 117.394 44.9721 116.357 45.7363 115.593C46.5005 114.829 47.5367 114.399 48.6174 114.398H68.8364C69.9172 114.399 70.9533 114.829 71.7175 115.593C72.4818 116.357 72.9116 117.394 72.9128 118.474V137.389C72.9116 138.47 72.4818 139.506 71.7175 140.27C70.9533 141.034 69.9172 141.464 68.8364 141.465Z");
                    }
                    #svg1p16{
                        d: path("M104.901 141.465H84.6819C83.6011 141.464 82.565 141.034 81.8007 140.27C81.0365 139.506 80.6067 138.47 80.6055 137.389V118.474C80.6067 117.394 81.0365 116.357 81.8007 115.593C82.565 114.829 83.6011 114.399 84.6819 114.398H104.901C105.982 114.399 107.018 114.829 107.782 115.593C108.546 116.357 108.976 117.394 108.977 118.474V137.389C108.976 138.47 108.546 139.506 107.782 140.27C107.018 141.034 105.982 141.464 104.901 141.465Z");
                    }
                    #svg1p17{
                        d: path("M140.967 141.465H120.748C119.668 141.464 118.631 141.034 117.867 140.27C117.103 139.506 116.673 138.47 116.672 137.389V118.474C116.673 117.394 117.103 116.357 117.867 115.593C118.631 114.829 119.668 114.399 120.748 114.398H140.967C142.048 114.399 143.084 114.829 143.848 115.593C144.613 116.357 145.042 117.394 145.044 118.474V137.389C145.042 138.47 144.613 139.506 143.848 140.27C143.084 141.034 142.048 141.464 140.967 141.465Z");
                    }
                    #svg1p18{
                        d: path("M326.927 229.76H162.911C158.957 229.756 155.167 228.183 152.372 225.388C149.577 222.593 148.004 218.803 148 214.85V153.911C148.004 149.957 149.577 146.167 152.372 143.372C155.167 140.577 158.957 139.004 162.911 139H326.927C330.88 139.004 334.67 140.577 337.466 143.372C340.261 146.167 341.833 149.957 341.838 153.911V214.85C341.833 218.803 340.261 222.593 337.466 225.388C334.67 228.183 330.88 229.756 326.927 229.76Z");
                    }
                    #svg1p19{
                        d: path("M326.927 229.76H162.911C158.957 229.756 155.167 228.183 152.372 225.388C149.577 222.593 148.004 218.803 148 214.85V153.911C148.004 149.957 149.577 146.167 152.372 143.372C155.167 140.577 158.957 139.004 162.911 139H326.927C330.88 139.004 334.67 140.577 337.466 143.372C340.261 146.167 341.833 149.957 341.838 153.911V214.85C341.833 218.803 340.261 222.593 337.466 225.388C334.67 228.183 330.88 229.756 326.927 229.76ZM162.911 140.297C159.301 140.301 155.841 141.736 153.288 144.288C150.736 146.841 149.301 150.301 149.297 153.911V214.85C149.301 218.459 150.736 221.919 153.289 224.472C155.841 227.024 159.301 228.459 162.911 228.464H326.927C330.537 228.459 333.997 227.024 336.549 224.472C339.101 221.919 340.537 218.459 340.541 214.85V153.911C340.537 150.301 339.101 146.841 336.549 144.288C333.997 141.736 330.537 140.301 326.927 140.297H162.911Z");
                    }
                    #svg1p20{
                        d: path("M226.794 163.144H199.244C198.899 163.144 198.556 163.077 198.236 162.945C197.917 162.813 197.626 162.619 197.381 162.375C197.137 162.13 196.943 161.84 196.81 161.521C196.678 161.201 196.609 160.859 196.609 160.513C196.609 160.167 196.678 159.825 196.81 159.505C196.943 159.186 197.137 158.896 197.381 158.651C197.626 158.407 197.917 158.213 198.236 158.081C198.556 157.949 198.899 157.882 199.244 157.882H226.794C227.491 157.883 228.16 158.161 228.652 158.654C229.145 159.147 229.421 159.816 229.421 160.513C229.421 161.21 229.145 161.879 228.652 162.372C228.16 162.865 227.491 163.143 226.794 163.144Z");
                    }
                    #svg1p21{
                        d: path("M288.55 173.904H199.242C198.544 173.904 197.875 173.627 197.382 173.134C196.888 172.64 196.611 171.971 196.611 171.273C196.611 170.576 196.888 169.907 197.382 169.413C197.875 168.92 198.544 168.643 199.242 168.643H288.55C289.248 168.643 289.917 168.92 290.411 169.413C290.904 169.907 291.181 170.576 291.181 171.273C291.181 171.971 290.904 172.64 290.411 173.134C289.917 173.627 289.248 173.904 288.55 173.904Z");
                    }
                    #svg1p22{
                        d: path("M288.55 186.256H199.242C198.897 186.256 198.555 186.188 198.235 186.056C197.916 185.923 197.626 185.73 197.382 185.485C197.138 185.241 196.944 184.951 196.812 184.632C196.679 184.313 196.611 183.971 196.611 183.625C196.611 183.28 196.679 182.937 196.812 182.618C196.944 182.299 197.138 182.009 197.382 181.765C197.626 181.52 197.916 181.327 198.235 181.194C198.555 181.062 198.897 180.994 199.242 180.994H288.55C289.248 180.994 289.917 181.271 290.411 181.765C290.904 182.258 291.181 182.927 291.181 183.625C291.181 184.323 290.904 184.992 290.411 185.485C289.917 185.979 289.248 186.256 288.55 186.256Z");
                    }
                    #svg1p23{
                        d: path("M288.552 198.608H199.244C198.899 198.609 198.556 198.541 198.236 198.409C197.917 198.277 197.626 198.083 197.381 197.839C197.137 197.595 196.943 197.304 196.81 196.985C196.678 196.665 196.609 196.323 196.609 195.977C196.609 195.631 196.678 195.289 196.81 194.969C196.943 194.65 197.137 194.36 197.381 194.115C197.626 193.871 197.917 193.677 198.236 193.545C198.556 193.413 198.899 193.346 199.244 193.346H288.552C289.249 193.347 289.918 193.625 290.41 194.118C290.903 194.612 291.179 195.28 291.179 195.977C291.179 196.674 290.903 197.343 290.41 197.836C289.918 198.329 289.249 198.607 288.552 198.608Z");
                    }
                    #svg1p24{
                        d: path("M288.55 210.959H199.242C198.544 210.959 197.875 210.682 197.382 210.189C196.888 209.695 196.611 209.026 196.611 208.328C196.611 207.631 196.888 206.961 197.382 206.468C197.875 205.975 198.544 205.698 199.242 205.698H288.55C289.248 205.698 289.917 205.975 290.411 206.468C290.904 206.961 291.181 207.631 291.181 208.328C291.181 209.026 290.904 209.695 290.411 210.189C289.917 210.682 289.248 210.959 288.55 210.959Z");
                    }
                    #svg1p25{
                        d: path("M268.027 334H92.0264C87.0492 334 83 329.95 83 324.974V231.482C83 226.506 87.0492 222.456 92.0264 222.456H268.027C273.004 222.456 277.053 226.506 277.053 231.482V324.974C277.053 329.95 273.004 334 268.027 334Z");
                    }
                    #svg1p26{
                        d: path("M268.027 334H92.0264C87.0492 334 83 329.95 83 324.974V231.482C83 226.506 87.0492 222.456 92.0264 222.456H268.027C273.004 222.456 277.053 226.506 277.053 231.482V324.974C277.053 329.95 273.004 334 268.027 334ZM92.0264 223.963C87.8805 223.963 84.5073 227.337 84.5073 231.482V324.974C84.5073 329.119 87.8805 332.493 92.0264 332.493H268.027C272.173 332.493 275.546 329.119 275.546 324.974V231.482C275.546 227.337 272.173 223.963 268.027 223.963H92.0264Z");
                    }
                    #svg1p27{
                        d: path("M254.443 233.761C255.691 233.761 256.704 232.749 256.704 231.5C256.704 230.252 255.691 229.239 254.443 229.239C253.194 229.239 252.182 230.252 252.182 231.5C252.182 232.749 253.194 233.761 254.443 233.761Z");
                    }
                    #svg1p28{
                        d: path("M260.472 233.761C261.721 233.761 262.733 232.749 262.733 231.5C262.733 230.252 261.721 229.239 260.472 229.239C259.223 229.239 258.211 230.252 258.211 231.5C258.211 232.749 259.223 233.761 260.472 233.761Z");
                    }
                    #svg1p29{
                        d: path("M266.501 233.761C267.75 233.761 268.762 232.749 268.762 231.5C268.762 230.252 267.75 229.239 266.501 229.239C265.253 229.239 264.24 230.252 264.24 231.5C264.24 232.749 265.253 233.761 266.501 233.761Z");
                    }
                    #svg1p30{
                        d: path("M95.8122 268.053C95.1888 268.053 94.6816 268.561 94.6816 269.184C94.6816 269.488 94.799 269.769 95.0121 269.977C95.227 270.197 95.5085 270.314 95.8122 270.314H264.994C265.617 270.314 266.124 269.807 266.124 269.184C266.124 268.88 266.007 268.599 265.794 268.391C265.579 268.171 265.298 268.053 264.994 268.053H95.8122Z");
                    }
                    #svg1p31{
                        d: path("M243.891 267.677V270.691H95.812C95.3975 270.691 95.0207 270.525 94.7494 270.247C94.4705 269.975 94.3047 269.598 94.3047 269.184C94.3047 268.355 94.983 267.677 95.812 267.677H243.891Z");
                    }
                    #svg1p32{
                        d: path("M263.11 262.024H248.036C246.374 262.024 245.021 260.672 245.021 259.009C245.021 257.347 246.374 255.995 248.036 255.995H263.11C264.772 255.995 266.124 257.347 266.124 259.009C266.124 260.672 264.772 262.024 263.11 262.024Z");
                    }
                    #svg1p33{
                        d: path("M164.38 246.197H96.9444C95.2821 246.197 93.9297 244.845 93.9297 243.182C93.9297 241.52 95.2821 240.167 96.9444 240.167H164.38C166.042 240.167 167.395 241.52 167.395 243.182C167.395 244.845 166.042 246.197 164.38 246.197Z");
                    }
                    #svg1p34{
                        d: path("M95.8122 301.969C95.1888 301.969 94.6816 302.476 94.6816 303.099C94.6816 303.403 94.799 303.684 95.0121 303.892C95.227 304.112 95.5085 304.23 95.8122 304.23H264.994C265.617 304.23 266.124 303.723 266.124 303.099C266.124 302.795 266.007 302.514 265.794 302.307C265.579 302.087 265.298 301.969 264.994 301.969H95.8122Z");
                    }
                    #svg1p35{
                        d: path("M185.858 301.592V304.607H95.812C95.3975 304.607 95.0207 304.441 94.7494 304.162C94.4705 303.89 94.3047 303.514 94.3047 303.099C94.3047 302.27 94.983 301.592 95.812 301.592H185.858Z");
                    }
                    #svg1p36{
                        d: path("M263.11 295.939H248.036C246.374 295.939 245.021 294.587 245.021 292.925C245.021 291.262 246.374 289.91 248.036 289.91H263.11C264.772 289.91 266.124 291.262 266.124 292.925C266.124 294.587 264.772 295.939 263.11 295.939Z");
                    }
                }
                #svg2{
                    right: 0;
                }
            }
        }
    }
}